<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <img src="img/icon_head.png" style="float:left;" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="btn-back-url" class="navbar-brand cut_header" href="#my-courses"><i class="glyphicon glyphicon-chevron-left"></i><%= title %></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#logout">
                            <i class="glyphicon glyphicon-log-out"></i> <%= lang.singOut %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container" id="course_tools" style="margin-top: 20px;">
    <div class="row">
        <% if( visibility['course_description/'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#description/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/info.png" alt="Description">
                    <h5 class="title"><%= lang.description %></h5>
                </a>
            </div>
        <% } %>
        <% if( visibility['calendar/agenda.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#agenda/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/agenda.png" alt="Agenda">
                    <h5 class="title"><%= lang.agenda %></h5>
                </a>
            </div>
        <% } %>
        <% if( visibility['document/document.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#documents/<%= c_id %>/<%= s_id %>/root">
                    <img class="center-block" src="img/documents.png" alt="Documents">
                    <h5 class="title"><%= lang.documents %></h5>
                </a>
            </div>
        <% } %>
        <% if( visibility['lp/lp_controller.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#learnpath/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/scorms.png" alt="learnpath">
                    <h5 class="title"><%= lang.learnpath %></h5>
                </a>
            </div>
        <% } %>
        <% if( visibility['announcements/announcements.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#announcements/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/valves.png" alt="Announcement">
                    <h5 class="title"><%= lang.announcement %></h5>
                </a>
            </div>
        <% } %>
        
        <% if( visibility['forum/index.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#forum/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/forum.png" alt="Forum">
                    <h5 class="title"><%= lang.forum %></h5>
                </a>
            </div>
        <% } %>
        <% if( visibility['notebook/index.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#notebook/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/notebook.png" alt="Notebook">
                    <h5 class="title"><%= lang.notebook %></h5>
                </a>
           </div>
        <% } %>
        <% if( visibility['link/link.php'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#link/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/links.png" alt="Link">
                    <h5 class="title"><%= lang.links %></h5>
                </a>
           </div>
        <% } %>
        <% if( visibility['ranking'] == "1" ) { %>
            <div class="col-xs-6 col-md-4 course-tool">
                <a class="btn btn-raised btn-default btn-block" href="#ranking/<%= c_id %>/<%= s_id %>">
                    <img class="center-block" src="img/ranking.png" alt="Ranking">
                    <h5 class="title"><%= lang.ranking %></h5>
                </a>
            </div>
        <% } %>
    </div>
</div>