<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <a href="#"><img src="img/icon_head.png" style="float:left;" /></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="btn-back-url" class="navbar-brand" href="#notebook/<%= c_id %>/<%= s_id %>"><i class="glyphicon glyphicon-chevron-left"></i> <%= lang.new_notebook %></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#my-courses">
                            <i class="glyphicon glyphicon-pencil"></i> <%= lang.courses %>
                        </a>
                    </li>
                    <li>
                        <a href="#list-messages">
                            <i class="glyphicon glyphicon-envelope"></i> <%= lang.messages %>
                        </a>
                    </li>
                    <li>
                        <a href="#logout/<%= c_id %>/<%= s_id %>">
                            <i class="glyphicon glyphicon-log-out"></i> <%= lang.singOut %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin-top: 20px;">
	<section id="main_content">
        <form action="#" id="frm-new-notebook" method="post">
            <input type="hidden" name="session-id" id="session-id" value="<%= s_id %>">
            <input type="hidden" name="course-id" id="course-id" value="<%= c_id %>">
            
            <fieldset>
                <legend for="txt-title"><%= lang.title %>:</legend>
                <div class="form-group">
                    <input type="text" name="txt-title" id="txt-title" required class="form-control" >
                </div>
            </fieldset>
            
            <fieldset>
                <legend for="txt-text"><%= lang.text %>:</legend>
                <div class="form-group">
                    <textarea rows="5"name="txt-text" id="txt-text" required class="form-control"></textarea>
                </div>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" id="btn-submit" type="submit"><%= lang.createNotebook %></button>
            </div>
        </form>
    </section>
</div>
