<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="btn-back-url" class="navbar-brand" href="#forum/<%= c_id %>/<%= s_id %>"><i class="glyphicon glyphicon-chevron-left"></i> <%= lang.Topics %></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#my-courses">
                            <i class="glyphicon glyphicon-pencil"></i> <%= lang.courses %>
                        </a>
                    </li>
                    <li>
                        <a href="#list-messages">
                            <i class="glyphicon glyphicon-envelope"></i> <%= lang.messages %>
                        </a>
                    </li>
                    <li>
                        <a href="#logout/<%= c_id %>/<%= s_id %>">
                            <i class="glyphicon glyphicon-log-out"></i> <%= lang.singOut %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section id="main_content">
    <div class="container">
        <div class="topic-forum">
            <h3>
                <img src="img/icons/32/forum_yellow.png" />
                <%= f_title %>
                <span style="float:right">
                    <a href="#new_thread/<%= c_id %>/<%= s_id %>/<%= f_id %>"><img src="img/icons/32/new_thread.png" style="margin-top:-5px;" /></a>
                </span>    
            </h3>
        </div>
        <div class="forum_display">
        <input type="hidden" id="forum_id" value="<%= f_id %>" />
        <% for (var i = 0; i < collection.length; i++) { %>
            <div class="panel panel-default forum">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <% print(collection[i]['image']); %>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h3 class="title">
                                        <a href="#post/<%= collection[i]['c_id'] %>/<%= s_id %>/<%= collection[i]['forum_id'] %>/<%= collection[i]['thread_id'] %>">
                                            <% print(collection[i]['title']); %>
                                        </a>
                                    </h3>
                                    <p>
                                        <%= lang.PublishedBy %> <% print(collection[i]['thread_poster_name']); %><br>
                                        <% print(collection[i]['insert_date']); %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/icons/22/post-forum.png" />
                                    <% print(collection[i]['replies']); %> <%= lang.Answers %><br>
                                    <img src="img/icons/22/post-forum.png" />
                                    <% print(collection[i]['views']); %> <%= lang.Views %>
                                </div>
                                <div class="col-md-5">
                                    <img src="img/icons/post-item.png" />
                                    <%= lang.LastMessage %>: <% print(collection[i]['last_post_date']); %>
                                    <%= lang.PublishedBy %> <% print(collection[i]['last_poster']); %>
                                </div>    
                                <div class="col-md-3">
                                    <img class="notify" id="thread<%= collection[i]['thread_id'] %>" src="img/icons/22/<% print(collection[i]['iconnotify']); %>" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
    </div>
</section>
