<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chamilo.app" version="1.11.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chamilo Mobile</name>
    <description>
        Chamilo Mobile App is a multi-mobile-OS application that allows you access to Chamilo LMS's plattform.
    </description>
    <author email="info@beeznest.com" href="https://beeznest.com">
        BeezNest
    </author>
    <author email="info@nosolored.com" href="https://www.nosolored.com">
        Nosolored
    </author>
    <icon src="www/img/logo.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="26" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-android-permissions" spec="~1.0.0" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <plugin name="cordova-plugin-filechooser" spec="~1.2.0" />
    <plugin name="cordova-plugin-filepath" spec="~1.5.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <plugin name="cordova-plugin-pdialog" spec="~2.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.1" />
    <plugin name="cordova-plugin-spinner" spec="~1.1.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-zip" spec="~3.1.0" />
    <plugin name="cordova-plugin-cache-clear" spec="~1.3.7" />
    <engine name="android" spec="~7.1.4" />
</widget>
